<extend name="./Application/Common/View/base/common.html" />

<block name="body">
    <link type="text/css" rel="stylesheet" href="__CSS__/style.css"/>
    <div class="container" style="min-height: 400px">
        <div class="row">
		    <div class="col-md-3">
                <!---------------------------------------->
				   <div class="common_block_border blog_position">
                    <div class="common_block_title">所有分类</div>
					 <div class="category">
					 <link type="text/css" rel="stylesheet" href="__ROOT__/Public/Common/css/category.css"/>
					 <script type="text/javascript" src="__ROOT__/Public/Common/js/category.js"></script>
					  <php>
                       $tree_list = A("Common/Category");
                       $tree_list->ShowCategory($tree);
                      </php>
					 </div>
                    <div style="margin:0px 15px;height:10px;clear:both"></div>
                  </div>
				  
				<!---------------------------------------->
				 <!---------------------------------------->
				   <div class="common_block_border blog_position">
                    <div class="common_block_title">全站热门</div>
					 <assign name="num" value="1" />
                     <volist name="hotdata" id="vo">
                       <div class="clearfix" style="position: relative">         
                         <div class="col-md-12">
                           <div>
                                <span class="rank_num">{$num++}</span><h3 class="text-more" style="float:left"><a title="{$vo['title']}" href="{:U('Detail',array('id'=>$vo['id']))}">{$vo["title"]|msubstr=0,12}</a></h3>
                           </div>
                         </div>
                      </div>
					  <div class="col-md-12">
                         <div style="border-bottom: 1px dashed rgb(204, 204, 204);margin: 10px 0px"></div>
					  </div>
		             </volist>
					 <if condition="count($hotdata) eq 0">
                        <div style="font-size:2em;padding:2em 0;color: #ccc;text-align: center;">暂无内容</div>
                     </if>
                      <div style="margin:0px 15px;height:10px;clear:both"></div>
                  </div>
				  
				<!---------------------------------------->
            </div>
            <div class="col-md-9" style="padding-left:0px">
                <!---------------------------------------->
				
				<div class="common_block_border">
                    <div class="common_block_title">所有内容</div>
					<volist name="contents" id="vo">
                      <div style="padding:0 20px" transitionparent>                     
					    <section  style="padding:0px 0px 10px 0px;">
                            <div style="position: relative;min-height:110px;height:auto!important;height:110px;">
							  <a title='{$vo["title"]}' href="{:U('Detail',array('id'=>$vo["id"]))}"><img src="__ROOT__{$vo['image']|get_cover='path'}" width="150" height="100" style="position: absolute" transition></a>
							  <div style="margin-left:160px">
                                   <div>
                                        <h4><a title='{$vo["title"]}' href="{:U('Detail',array('id'=>$vo["id"]))}">{$vo["title"]}</a></h4>
                                   </div>
                                   <div>
                                        <span>{$vo["createtime"]|date='Y-m-d H:i:s',###}</span>
                                        <p>{$vo["content"]|strip_tags|msubstr=0,90,"utf-8",true}</p>
                                   </div>
                              </div>
                            </div>
                            <hr style="margin:5px 0px;">
                       </section>
				      </div>
					</volist>
					<if condition="count($contents) eq 0">
                        <div style="font-size:3em;padding:2em 0;color: #ccc;text-align: center;height:500px">该分类下现在还没有内容哦。O(∩_∩)O~</div>
                    </if>
					<div class="text-right" style="margin-right:20px">
                       {:getPagination($totalPageCount,8)}
                    </div>
				</div>
				<!---------------------------------------->
            </div>


			
        </div>

    </div>
</block>