<switch name="data.type">      
    <case value="single_choice">
		<a name="{$questionnum}"></a>	    
		<div class="rightdiv">{$questionnum}.{$data.stem}</div>
		<php>
		$itemquestionanswer=json_decode($data['answer'],false);
		//dump($itemquestionanswer);
		$questionanswer=json_decode($answer[$data['id']],false);
		//dump(base64_decode($questionanswer[0]));
        $answericon="wrong";
		if(sizeof($questionanswer)>0)
		{
		  if(base64_decode($questionanswer[0])==$itemquestionanswer[0])
		  {
		     $answericon="right";
		  }
		}
		</php>
        <div style="clear:both"></div>
        <table  border="0" cellspacing="0" cellpadding="0">
	    <php> 
		$jsonitems=json_decode($data['metas'],false);//dump($jsonitems);
		//dump($jsonitems->choices);
			foreach($jsonitems->choices as $key=>$val)
			{
				//dump($key."=".$val);
				</php>
                    <tr>
                       <td>
					   <label><input type="radio" data-type="choice"
				            name="question_{$data['id']}"
				<php>
				if(in_array(base64_encode(strtoupper(msubstr($az,$key,1,'utf-8',false))),$questionanswer))
				{
				</php>
				 checked="checked"
                <php>
				}
				</php>
				value="{$az|msubstr=$key,1,'utf-8',false|strtoupper}">
				
				      </label>
					  {$az|msubstr=$key,1,'utf-8',false|strtoupper}:
					   </td>
                       <td>
					  {$val|base64_decode|stripslashes}
				      </td>
                    </tr>
				<php>
			}
		</php>
		</table>

	</case>
	<case value="choice">
		<a name="{$questionnum}"></a>
		<div class="rightdiv">{$questionnum}.{$data.stem}</div>
		<php>
		$itemquestionanswer=json_decode($data['answer'],false);
		$questionanswer=json_decode($answer[$data['id']],false);
		//dump(base64_decode($questionanswer[0]));
        $answericon="wrong";
		if(sizeof($questionanswer)==sizeof($itemquestionanswer))
		{
		   $answericon="right";
		   foreach($itemquestionanswer as $key=>$val)
		   {
             if(base64_decode($questionanswer[$key])!=$val)
			 {
			    $answericon="wrong";
				break;
			 }
		   }
		}
		</php>
        <div style="clear:both"></div>
	    <php>
		$jsonitems=json_decode($data['metas'],false);//dump($jsonitems);
		//dump($jsonitems->choices);
			foreach($jsonitems->choices as $key=>$val)
			{
				//dump($key."=".$val);
				</php>
				<table  border="0" cellspacing="0" cellpadding="0" class="marginleft40">
                    <tr>
                       <td>
					   <input type="checkbox" data-type="choice" 
				<php>
				if(in_array(base64_encode(strtoupper(msubstr($az,$key,1,'utf-8',false))),$questionanswer))
				{
				</php>
				 checked="checked" 
                <php>
				}
				</php>
				name="question_{$data['id']}[]" value="{$az|msubstr=$key,1,'utf-8',false|strtoupper}">
					   {$az|msubstr=$key,1,'utf-8',false|strtoupper}:</td>
                       <td>{$val|base64_decode|stripslashes}</td>
                    </tr>
                </table>
				<php>
			}
		</php>
	</case>
	<case value="fill">
		<a name="{$questionnum}"></a>
	    <php>
		    $title=$data['stem'];
			//dump($title);
		    preg_match_all('/\\[\\[.+?\\]\\]/i' ,$data['stem'] ,$res);
			//dump($res);
			$i=0;
			foreach($res[0] as $key=>$val)
            {
                $title=str_replace($val,"<span style='text-decoration:underline;color:#ff0000'>  (".++$i.")  </span>",$title);

				//$val=preg_replace('/(\\[\\[|\\]\\])/','',$val);
				//echo $val;
            }
			</php>
	  	    <div class="rightdiv">{$questionnum}.{$title}</div>
        <php>
		$itemquestionanswer=json_decode($data['answer'],false);
		$questionanswer=json_decode($answer[$data['id']],false);
		//dump($questionanswer);
        $answericon="wrong";
		if(sizeof($questionanswer)==sizeof($itemquestionanswer))
		{
		   $answericon="right";
		   foreach($itemquestionanswer as $key=>$val)
		   {
             if($questionanswer[$key][0]!=$val[0])
			 {
			    $answericon="wrong";
				break;
			 }
		   }
		}
		</php>
        <div style="clear:both"></div>
			<php>
			//echo $title;
			$i=0;
			foreach($res[0] as $key=>$val)
            {
                </php>
				   <div class="marginleft40"><input class="form-control " style="margin:5px 0px" type="text" data-type="fill" 
				   value="<php>if(sizeof($questionanswer)>=($key+1)) echo base64_decode($questionanswer[$key][0]);</php>"
				   name="question_{$data['id']}[]" placeholder="填空({++$i})答案，请填在这里"></div>
				<php>
            }
			</php>
			
	</case>
	<case value="determine">
		<a name="{$questionnum}"></a>
		<div class="rightdiv">{$questionnum}.{$data.stem}</div>
		<php>
		$itemquestionanswer=json_decode($data['answer'],false);
		$questionanswer=json_decode($answer[$data['id']],false);
		//dump(base64_decode($questionanswer[0]));
        $answericon="wrong";
		if(sizeof($questionanswer)==sizeof($itemquestionanswer))
		{
		  if(base64_decode($questionanswer[0])==$itemquestionanswer[0])
		  {
		     $answericon="right";
		  }
		}
		</php>
        <div style="clear:both"></div>
	    <php> 
		$data['metas']='{"choices":["正确","错误"]}';
		$jsonitems=json_decode($data['metas'],false);//dump($jsonitems);
		//dump($jsonitems->choices);
			foreach($jsonitems->choices as $key=>$val)
			{
				//dump($key."=".$val);
				</php>
				<php>
			}
		</php>
		<php> //dump($jsonitems);
			foreach($jsonitems->choices as $key=>$val)
			{
				//dump($key."=".$val);
				
				</php>
				<label  class="radio-inline marginleft40"><input type="radio" data-type="choice"
				<php>
				if(in_array(base64_encode(1-$key),$questionanswer))
				{
				</php>
				 checked="checked" 
                <php>
				}
				</php>
				name="question_{$data['id']}" value="<php>echo 1-$key;</php>">{$val}</label>
				<php>
			}
		</php>
		
	</case>
	<case value="essay">
		<a name="{$questionnum}"></a>
		<div class="rightdiv">{$questionnum}.{$data.stem}</div>
        <div style="clear:both"></div>
		<div class="marginleft40">
		<textarea class="form-control" name="question_{$data['id']}" cols="" rows="6"><php>
			 $questionanswer=json_decode($answer[$data['id']],false);
			 if(sizeof($questionanswer)>0)
			 {
			    echo base64_decode($questionanswer[0]);
			 }
			 </php>
		</textarea>
	    </div>
		
	</case>
	<case value="material">
	    <div class="well">{$data.stem}</div>
		<php>$subnum=0;</php>
		<volist name="subdata" id="data"> 
		     <php>
			 $data['score']=$json->score->$data['type'];
			 </php>
             <include file='./Application/Examination/View/default/Index/viewtopicchildmobile.html'/>
			 <php>
              if(sizeof($subdata)>1 && $subnum%2==0)
              {
                    //echo '<hr style="margin: 20px 0px">';
              }
             </php>
			 <php>
			    $subnum+=1;
                $questionnum+=1;
             </php>
		</volist>
	</case>
	<default />找不到试题类型。
</switch>