<extend name="./Application/Common/View/base/common.html" />
<!--extend name="Base/common"/-->
<block name="body">
<style type="text/css">
.ullist{margin:0px 0px 0px 0px;padding:0px;list-style-type:none;border-top:1px solid #DFDFDF }
.ullist li{margin:0px;padding:0px 0px 0px 30px;border-bottom:1px solid #DFDFDF;background: #FFFFFF;height:48px;font-size:16px;line-height:48px}
.coursetitle{height:48px;padding-left:20px;font-size:16px;line-height:48px; font-weight:bold}
</style>

    <div id="ui-header">
			<div class="fixed">
				<a class="ui-btn-left_pre" href="javascript:displayitx(0)"></a>
				<a class="ui-title" id="popmenu">关于岱恩</a>
				<a class="ui-btn-right_home" href="/index.php"></a>
			</div>
	</div>
    <div id="overlay"></div>
    <div class="Listpage">
			<div class="top46"></div>
			<div style="margin:10px ">
			　　全球知名的英语教育公司DynEd International成立于1987年， 总部及课程研发中心设在美国加利福尼亚的硅谷，他们开发并推出了全球第一套英语多媒体课程Dynamic English。几十年来经过不断的研发和改进，Dynamic English一直走在世界英语教学的最尖端，同时获得了40多个全球性的奖项。目前，全球72个非英语类国家，上千万人士都在使用DynEd 课程进行英语的学习。
　　在中国，数所知名大学和商学院都采用了DynEd的课程作为他们的选修课或必修课程。如：北大光华管理学院、香港中文大学、武汉大学、集美大学等。
　　还有一些知名的培训机构如韦博国际英语、新东方国际英语都是选用的Dynamic English作为核心课程。
　　Dynamic English与纯线上课程不同的是,她采用了线上管理，线下学习的学习管理系统，更大程度的方便了众多的英语学习者。真正做到了让学习者随时随地学习，不受空间和时间约束。
			</div>
	</div>

</block>
