<extend name="./Application/Common/View/base/common.html" />

<block name="body">
    <link type="text/css" rel="stylesheet" href="__CSS__/style.css"/>
    <div class="container" style="min-height: 400px">
        <div class="row">
            <div class="col-md-8">
                <!---------------------------------------->
				
				<div class="common_block_border">
                    <div class="common_block_title detailtitle">{$data.title}</div>               
                    <div class="detaildatetime">发布时间：{$data.createtime|date='Y-m-d H:i',###}</div>
			        <div class="detailcontent">
					  <a href="#"><img src="__IMG__/join.png"></a>
					  {$data.content}
					</div>
				</div>
				<!---------------------------------------->
            </div>
            <div class="col-md-4">
                <!---------------------------------------->
				  <div class="common_block_border blog_position">
                    <div class="common_block_title">全站热门</div>
					 <assign name="num" value="1" />
                     <volist name="hotdata" id="vo">
                       <div class="clearfix" style="position: relative">         
                         <div class="col-md-12">
                           <div>
                                <span class="rank_num">{$num++}</span><h3 class="text-more" style="float:left"><a title="{$vo['title']}" href="{:U('News/Index/Detail',array('id'=>$vo['id']))}">{$vo["title"]|msubstr=0,20}</a></h3>
                           </div>
                         </div>
                      </div>
					  <div class="col-md-12">
                         <div style="border-bottom: 1px dashed rgb(204, 204, 204);margin: 10px 0px"></div>
					  </div>
		             </volist>
                      <div style="margin: 15px"></div>
                  </div>
				<!---------------------------------------->
            </div>
			
        </div>

    </div>
</block>