<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>题目预览</title>
</head>
<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet"/>
     <!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
    <![endif]--><!--[if gte IE 9]><!-->
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<style type="text/css">
						    body{background-color:#ffffff}
							.ul{margin:0px;padding:0px;list-style-type:none}
							.ul li{border-bottom:1px solid #cccccc;padding:0px 0px;line-height:30px}
                            .item{float:left;width:auto;margin:0px 5px}
							.title{width:100px}
							.pointer{cursor:pointer}
							.clear{font-size:0px;line-height:0px;clear:both}
                        </style>
<script type="text/javascript">
						$(function(){
						  //下移
                          $("img.add").each(function(){
                                $(this).click(function(){
                                   var obj = $(this); 
								   //alert(obj.attr('_id')+"|"+obj.attr('_title').replace(/\r\n|\r|\n/g,''))
								   window.parent.frames[0].window.insert(obj.attr('_id'),obj.attr('_title').replace(/\r\n|\r|\n/g,''));
                                });
                          });
                        });
						</script>
<body>
<div style="text-align:center;font-weight:bold;ling-height:20px;margin:5px 0px; letter-spacing:2px ">点击+号添加试题</div>
<ul class='ul'>
    <volist name="list" id="vo">
       <li>               
					  <div class='item'>                     
					  <img src="__IMG__/add.gif" class='add pointer' style="margin-top:7px" _id="{$vo['id']}" _title="{:msubstr(strip_tags($vo['stem']),0,54,'utf-8',true);}">
				      </div>
					  <div class='item'>                     
					  {:msubstr(strip_tags($vo['stem']),0,54,'utf-8',true);}
				      </div>
					  <div class='clear'></div>
	   </li>				  
    </volist>
</ul>
					<if condition="count($list) eq 0">
                        <div style="font-size:3em;padding:2em 0;color: #ccc;text-align: center">该分类下现在还没有内容哦。O(∩_∩)O~</div>
                    </if>
					<div class="text-right" style="margin-right:20px">
					
                       {:getPagination($totalPageCount,13)}
                    </div>				
</body>
</html>

