<extend name="Base/common"/>
<block name="body">
<style type="text/css">
.ullist{margin:20px 0px 0px 0px;padding:0px;list-style-type:none;border-top:1px solid #DFDFDF }
.ullist li{margin:0px;padding:0px;border-bottom:1px solid #DFDFDF;background: #FFFFFF;height:48px;padding-left:20px;font-size:16px;line-height:48px}
</style>
    <div id="ui-header">
			<div class="fixed">
				<a class="ui-title" id="popmenu">定制服务</a>
				<a class="ui-btn-left_pre" href="javascript:history.go(-1)"></a>
				<a class="ui-btn-right_home" href="/index.php"></a>
			</div>
	</div>
    <div id="overlay"></div>
    <div class="Listpage">
			<div class="top46"></div>
			<ul class="ullist">
			     <li> <a href="#">行业词汇</a></li>
			     <li> <a href="#">行业口语</a></li>
			     <li> <a href="#">行业阅读</a></li>
			     <li> <a href="#">在线答疑</a></li>
			     <li> <a href="#">其他</a></li>


			 </ul>
	</div>

</block>
