body {
    width: 100%;
    /* overflow: hidden; */
}
.logo {
    position: absolute;
    left: 39px;
    top: 5px;
}
.url {
    position: absolute;
    left: 300px;
    top: 20px;
    width: 400px;
    height: 30px;
    line-height: 30px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}
.url input {
    flex: 1;
    outline: none;
    height: 30px;
    border: none;
    padding: 0px 10px;
}
.url div {
    width: 100px;
    height: 30px;
    text-align: center;
    color: #fff;
    background-color: #0094ff;
    cursor: pointer;
}
.iframe_box {
    width: 70%;
    height: 80%;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #333;
    display: none;
}
.iframe_box .iframe_none {
    float: right;
    font-size: 28px;
    padding: 5px 20px;
    cursor: pointer;
}
.iframe_box iframe {
    width: 100%;
    height: 100%;
    padding-bottom: 38px;
    border-top: 1px solid #333;
}
.box {
    width: 100%;
    height: 100%;
    margin-top: 70px;
    background-color: black;
    position: relative;
    overflow: hidden;
}
.left_box {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}
.right_box {
    width: 320px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 9999;
}
.text {
    width: 320px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    z-index: 9999;
    transition: transform 0.5s linear;
    transform: translateX(-110%);
}
.text .text_none {
    width: 30px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(100%,-50%);
    z-index: 9999;
    cursor: pointer;
}
.text .nav {
    width: 100%;
    height: 36px;
    display: flex;
    box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 13;    
}
.text .nav div {
    width: 50%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}

.text .nav div span {
    position: absolute;
    top: -36px;
    left: 50%;
    color: red;
}
.text .nav .check {
    color: #0094ff;
}

.text .nav div i {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
}
.text .userList {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
    left: 0px;
    top: 36px;
    background-color: #fff;
    padding: 36px 10px
}
.text .userList div {
    margin: 10px 0px;
    width: 100%;
    line-height: 36px;
    cursor: pointer;
    position: relative;
}
.text .userList div i {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
}
.text .sendbox {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 36px;
    box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
    display: flex;
    overflow: hidden;
    z-index: 11;
}
.text input {
    flex: 1;
    height: 36px;
    line-height: 36px;
    color: #333;
}
.text button {
    height: 36px;
    padding: 0px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.text .message,.text .Onemessage{
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
    left: 0px;
    top: 36px;
    background-color: #fff;
    padding: 36px 0px;
}
.text .message {
    z-index: 1;
}
.message::-webkit-scrollbar,.userList::-webkit-scrollbar,.Onemessage::-webkit-scrollbar,.onlymessage::-webkit-scrollbar,.img_box .img_list::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.message::-webkit-scrollbar-thumb,.userList::-webkit-scrollbar-thumb,.Onemessage::-webkit-scrollbar-thumb,.onlymessage::-webkit-scrollbar-thumb,.img_box .img_list::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
.message::-webkit-scrollbar-track,.userList::-webkit-scrollbar-track,.Onemessage::-webkit-scrollbar-track,.onlymessage::-webkit-scrollbar-track,.img_box .img_list::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
.text .message div,.text .Onemessage div,.only .onlymessage div {
    width: 100%;
    line-height: 32px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.text .message i,.text .Onemessage i ,.only .onlymessage i{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
    position: absolute;
    right: -5px;
    top: 8px;
    background-color: #fff;
}
.text .message em,.text .Onemessage em ,.only .onlymessage em{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    position: absolute;
    left: -5px;
    top: 8px;
    background-color: #fff;
}
.text .message div span:nth-child(2),.text .Onemessage div span:nth-child(2),.only .onlymessage div span:nth-child(2) {
    border: 1px solid #333;
    border-radius: 5px;
    margin-right: 10px;
    max-width: 60%;
    padding: 0px 5px;
    word-wrap:break-word;
    white-space:normal;
    vertical-align: middle;
    position: relative;
}
.text .message div span:nth-child(1),.text .Onemessage div span:nth-child(1),.only .onlymessage div span:nth-child(1) {
    border: 1px solid red;
    border-radius: 50%;
    padding: 0px 5px;
    vertical-align: middle;
    margin-right: 10px;
}
.only {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
    left: 0px;
    top: 36px;
    background-color: #fff;
    padding: 36px 0px;
}
.only .Popupbox {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}
.only .Popup_z {
    z-index: 1;
}
.only .onlymessage {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #fff;
}
.only .top {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 13; 
    background-color: #fff;
}
.only .top strong{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0px 15px;
    cursor: pointer;
}
.only .sendbox {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 36px;
    box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
    display: flex;
    overflow: hidden;
    z-index: 11;
}
.only input {
    flex: 1;
    height: 36px;
    line-height: 36px;
    color: #333;
}
.only button {
    height: 36px;
    padding: 0px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
#video {
    width: 320px;
    height:480px;
    position: relative;
    /* overflow: hidden; */
    background-color: red;
}
#video .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 32px;
    color: #fff;
    z-index: 21;
    display: none;
}
#video video {
    object-fit:contain !important;
}
#video .UserCount {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 15;
    color: #fff;
}
#video .nav {
    width: 100% !important;
    height: 60px !important;
    position: absolute;
    bottom: -60px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    z-index: 10;
    transition: bottom .1s linear;
}
#video .nav div {
    height: 60px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#video .nav span {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url('../images//按钮.png') no-repeat;
    transform: scale(0.5)
}
#video .nav .s1 {
    background-position: -37px -40px;
}
#video .nav .s2 {
    background-position: -167px -108px;
}
#video .nav .s3 {
    /* -35px -108px */
    background-position: -169px -189px;
}
#video .nav .s4 {
    /* -34px -189px */
    background-position: -36px -274px;
}
#video .nav .s5 {
    background-position: -37px -366px;
}
#video .nav .s6 {
    background-position: -31px -425px;
}
#video .nav .s7 {
background: none;
}
.s7 img {
    width: 90%;
}

.baiban_nav {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    cursor: pointer;
}
.baiban_nav div{
    width: 40px;
    margin-top: 20px;
    margin-left: 5px;
}
.baiban_nav .iconfont {
    font-size: 30px !important;
}
.baiban_nav img {
    width: 100%;
}
.tab{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    z-index: 999;
    /* background-color: red; */
}
.tab .button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #0094ff;
    display: inline-block;
    cursor: pointer;
}
.tab .ys {
    display: inline-block;
}
.tab .ys div {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #0094ff;
    display: inline-block;
    cursor: pointer;
    margin:0px 5px;
}
.tab .ys .tab_check{
    background-color: #0094ff;
    color: #fff;
}

.img_box {
    width: 320px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    z-index: 9999;
    transition: transform 0.5s linear;
    transform: translateX(-110%);
}
.img_box .qk_btn {
	background-color: red;
	display: none;
}
.img_box .img_box_none {
    width: 30px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(100%,-50%);
    z-index: 9999;
    cursor: pointer;
}
.img_box .img_list {
    width: 300px;
    height: 80%;
    margin: 10px auto;
    overflow-y: auto;
}
.img_box .img_list .img {
    width: 45%;
    height: 100px;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}
.img_box .img_list .img:nth-child(2n){
    float: right;
}
.img_box .img_list .img img {
    width: 100%;
    height: 100%;
}
.img_box .img_list .img .img_del {
    width: 100%;
    height: 20px;
    background-color: crimson;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: none;
}
.img_box .img_list .img .img_del img {
    width: 16%;
    display: block;
    margin: 0 auto;
}
.img_box .img_list .img .img_check {
    width: 100%;
    height: 20px;
    background-color: rgb(0, 255, 21);
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: none;
}
.img_box .img_list .img .img_check img {
    width: 16%;
    display: block;
    margin: 0 auto;
}
.img_box .add_img {
    width: 100%;
    height: 40px;
    background-color: #0094ff;
    position: absolute;
    bottom: 80px;
    left: 0px;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    border: 1px solid #ddd
}
.img_box .add_img input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.img_box .edit_img {
    width: 100%;
    height: 40px;
    background-color: aqua;
    position: absolute;
    bottom: 40px;
    left: 0px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid #ddd
}
.img_box .qx_edit{
    background-color: red;
    display: none;
}
.img_box .btn_img {
    width: 100%;
    height: 40px;
    background-color: aqua;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid #ddd
}