<extend name="./Application/Common/View/base/common.html" />

<block name="body">
<script type="text/javascript" src="http://www.love88.cn/apps/pc/public/js/magnifier.js"></script><!--产品图片-->
<script type="text/javascript" src="http://www.love88.cn/apps/pc/public/js/zoomify.min.js"></script><!--放大图片-->

<link rel="stylesheet" type="text/css" href="http://www.love88.cn/apps/pc/public/css/zoomify.min.css">
<link rel="stylesheet" type="text/css" href="http://www.love88.cn/apps/pc/public/css/magnifier.css">
<script type="text/javascript">
//产品图片 
			$(function() {
				
				var magnifierConfig = {
					magnifier : "#magnifier1",//最外层的大容器
					width : 500,//承载容器宽
					height : 500,//承载容器高
					moveWidth : null,//如果设置了移动盒子的宽度，则不计算缩放比例
					zoom : 2.5//缩放比例
				};
			
				var _magnifier = magnifier(magnifierConfig);
			
			});
</script>
<style>

.cont-category-p{
	width: 100%;
	height: 60px;
	font-size: 20px;
	line-height: 60px;
	color: #333333;
}

/*商品列表*/
.product-content{
	width: 100%;
}
.product-mocontainer{
	width: 1240px;
	min-height: 600px;
	margin: 0 auto;
	/*margin-top: 30px;*/
}
.advertisement {
    background-color: #000b10;
    text-align: center;
    height: 100px;
}

/*左侧栏*/
.help-left{
	width: 208px;
	margin-bottom: 6px;
	margin-right: 6px;
	background-color: #fff;
	float: left;
	padding: 36px 0;
}
.help-left-one{
	margin-bottom: 12px;
}
.category-nav-link{
	padding-left: 48px;
	line-height: 52px;
	color: #333;
	font-size: 16px;	
	/*background-color: pink;*/
}
.home-category-nav .category-nav-link {
    line-height: 33px;
    color: #757575;
    font-size: 14px;
    display: block;
    height: 100%;
}
.home-category-nav-item:hover a{
	color:#333;
}

/*右侧内容*/
.help-right{
	width: 994px;
	float: right;
}
.page-content{
	position: relative;
	padding: 20px 15px 15px;
	background-color: #fff;
}
.rich_media_content {
	min-height: 490px;
    overflow: hidden;
    color: #3e3e3e;
    /*background-color: pink;*/
}
.help-title{
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: normal;
	font-family: Helvetica;
	-webkit-text-stroke-color: rgb(0, 0, 0);
	-webkit-text-stroke-width: initial;
	text-align: center;
	clear: both;
	min-height: 1em;
	white-space: pre-wrap;
}
.rich_media_content p{
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: normal;
	font-family: Helvetica;
	-webkit-text-stroke-color: rgb(0, 0, 0);
	-webkit-text-stroke-width: initial;
	text-align: left;
}
.rich_media_content p img{
	text-align: center;
}

/*产品*/
.product-content{
	width: 100%;
}

/*商品详情*/
.product-middle{
	width: 100%;
	min-height: 400px;
	background-color: #fff;
	padding-top: 20px;
}


.product-up{
	width: 1240px;
	margin: 0 auto;

	margin-bottom: 5px;
	padding-top: 10px;
}
.product-left{
	float: left;
	width: 500px;
	height: auto;
	position: relative;
	z-index: 10;
}
.product-left-nav{
	float: left;
}
.product-left-list{
	width: 70px;
	padding: 5px;
	margin-bottom: 14px;
	border: 1px solid #e0e0e0;
	cursor: pointer;
}
.list-active{
	border: 1px solid #ff6700;
	cursor: default;
}
.product-left-nav ul .product-left-list img{
	width: 60px;
	height: 60px;
}
/*大图*/
.product-left-big{
	width: 482px;
	height: 482px;
	position: relative;
	/*background-color: pink;*/
	left: 140px;
	float: left;
}
.product-left-big img{
	width: 482px;
	height: 482px;
}
/*分享*/
.sharess{
	margin: 10px 0 20px;
}
.sharess>div{
	float: left;
	border: 1px solid #eee;
	margin-right: 10px;
	cursor: pointer;
}
/*.sharess div:hover{
	border: 1px solid #f10582;
}
.sharess div:hover a{
	color: #f10582;
}*/
.sharess div a{
	display: inline-block;
	padding: 2px 5px;
	font-size: 14px;
	color: #999;
}
.sharess div a img{
	width:15px;
	margin-left: 5px;
	margin-bottom: 3px;
	display: inline-block;
	vertical-align: middle;
}
/*分享连接地址*/
.fxd{
	position: relative;
}
.fxd:hover .fxd_con{
	display: block;
}
.fxd .fxd_con{
	position: absolute;
	top: 24px;left: -1px;
	background-color: #fff;
	z-index: 999;display: none;
	
}
.bdshare_l_c{
	width: 210px;
	float: left;
	border: 1px solid #e9e9e9;
	text-align: left;
}
.bdshare_l_c p{
	width: 100%;
	font: 14px/22px '宋体';
	text-indent: .5em;
	font-weight: 700;
	border-top: 1px solid #fbfbfb;
	border-bottom: 1px solid #f2f1f1;
	background-color: #f6f6f6;
	float: left;
	padding: 5px 0;
	margin: 0;
}
.bdshare_l_c ul{
	width: 100%;
	float: left;
	padding: 8px 0;
	overflow: hidden;
}
.bdshare_l_c ul li{
	width: 48%;
	height: 26px;
	float: left;
	margin: 2px;
}
.bdshare_l_c ul li a{
	color: #565656;
	font: 12px '宋体'; 
	display: block;
	width: 98%;
	padding: 6px 0;
	text-indent: 2.4em;
	background: url(../img/fenxiang_is.png) no-repeat;
	height: auto !important;
}
.bd_mshare{background-position: 0 -2070px !important;}
.bd_qzone{background-position: 0 -75px !important;}
.bd_tsina{background-position: 0 -115px !important;}
.bd_bdysc{background-position: 0 -2550px !important;}
.bd_renren{background-position: 0 -195px !important;}
.bd_tqq{background-position: 0 -235px !important;}
.bd_bdxc{background-position: 0 -2190px !important;}
.bd_kaixin001{background-position: 0 -275px !important;}
.bd_tqf{background-position: 0 -315px !important;}
.bd_tieba{background-position: 0 -595px !important;}
.bd_douban{background-position: 0 -395px !important;}
.bd_tsohu{background-position: 0 -435px !important;}
.bd_bdhome{background-position: 0 -155px !important;}
.bd_sqq{background-position: 0 -2230px !important;}
.bd_thx{background-position: 0 -1829px !important;}
.bd_more{background-image: url(../img/fenxiang_is.png?cdnversion=20131219) !important;
background-position: 0 4px !important;}
/*右侧*/
.product-right{
	float: left;
	width: auto;  
	height: auto;
	margin-bottom: 6px;
	min-height: 338px; 
}
/*加入购物车*/
.buy { 

    border: 0px;
    position: relative;
	padding-left: 60px;
}
a.guanwang.yous{
	float: right;
}
a.guanwang.hang{
	margin-left: 20px;
	width: 80px;
}
a.guanwang{
	display: inline-block;
	width: 100px;
	height: 25px;	
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	background: #f0f0f0;
	font-weight: normal;
	margin-right: 26px;
}
.buy h1{
	font-weight: bold;
	color: #333;
	padding: 10px 15px;
	font-size: 18px;
}
.buy>div{
	line-height: 30px;
	vertical-align: top;
	padding: 5px 17px;
	font-size: 16px;
} 
.buy>div.author span{margin-left:150px;color:#999;}
.buy>div.author span bb{margin:0 10px;}
.buy>div.huiyuan{
	
	height: 60px;
	line-height: 45px;
	margin-top: 15px;
	font-size:16px; 
	padding-right: 0;
}
.buy>div.huiyuan span{margin-right: 35px;}
/*价格--会员价*/
.huiyuan .price{
	color: #f10582;
	font-size:32px;
	margin-right: 30px;
}
.huiyuan .marketprice{
	font-size: 22px; 
}
/*装裱*/
.zhuangbiao{
	margin: 5px 0;
	border-bottom: #e0e0e0 1px dashed;
	/* display:none; */
}
.zhuangbiao cite{
	float: left;
	font-style: normal;
	font-weight: normal;
	height: 25px;
	line-height: 22px;
	padding: 2px 0;
	
}
.zhuangbiao div{
	float: left;
	width: 100px;
	margin-right: 10px;
	position: relative
}
.zhuangbiao div.active a{border: #f10582 2px solid;}
.zhuangbiao div.active b{display: block;}
.zhuangbiao div b{
	display: none;
	width: 12px;
	height: 12px;
	line-height: 0;
	background: url(../img/red-duihao.png) no-repeat;
	position: absolute;
	right: 2px;
	bottom: 2px;
}
.zhuangbiao div a{
	font-family: "宋体";
	display: block;
	height: 25px;
	line-height: 22px;
	border: #e0e0e0 1px solid;
	padding: 1px;
	color: #999;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}

/*加入购物车*/
.buy>div.purchase{
	padding: 0;
}
.buy .name {
    color: #333;
    float: left;
    font-size: 18px;
}
.buy .price .subscript {
    margin-right: 3px;
}
.purchase{
    margin-top: 30px;
    height: 55px;
    text-align: center;
}
.purchase::after{
	clear: both;
}

.btn {
	display: inline-block;
	width: 48%;
    height: 55px;
    background-color: #fff;
    line-height: 39px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ff6700;
}

.btn-primary {
	width: 200px;
	color: #c40000;
    /*color: #fff;
    background-color: #cc0000; */
    /* border-color: #cc0000; */
	background: #ffeded;
	border: solid #c40000 1px;
    margin-right: 30px;
}
.btn-store{
	width: 200px;
	/* background: #ffeded; */
	/* border: solid #c40000 1px; */
	background: #f10582;
	border: 0;
	color: #fff;
	font-size:22px;
}
.btn-store:hover{color:#fff;}
/* .btn-primary:hover{ */
	/* color:#fff; */
	/* background-color: #F92672; */
	/* border: solid #F92672 1px; */
/* }
.btn-store:hover{
	color:#c40000;
	background-color: #fff;
} */
/*商品信息*/
.store-message ul{
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	padding: 10px 0;
	margin-top: 20px;
}
.store-message ul::before,.store-message ul::after{
	content: "";
	display: table;
}
.store-message ul::after{
	clear: both;
}
.store-message-eval{
	width: 33.3%;
	float: left;
}
.store-message-eval a{
	display: block;
	font-size:12px;
	color: #757575;
	padding-left: 26px;
	border-right: 1px solid #e0e0e0;
	position: relative;
}
.store-message-eval a:last-of-type{
	border: none;
}
.store-message-eval a img{
	width: 12px;
	height: 12px;
	vertical-align: middle;
	position: absolute;
	left: 11px;
	top: 1px;
}
.store-message-eval a:hover{
	color: #ff6700;
}
.store-look-more{
	display: inline-block;
	font-size: 16px;
	color: #757575;
	margin-top: 15px;
	margin-left: 5px;
}
.store-look-more:hover{
	color: #FF6700;
}


/*商品信息*/
.goods-info{
	float: left;
	margin-right: 50px;
	display: none;
}
.goods-info::after{
	clear: both;
}
.goods-picture{
	width: 64px;
	height: 60px;
	float: left;
	font-size: 12px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	background-color: #fff;
}
.goods-picture img{
	margin-top: 5px;
	width: 50px;
	height: 50px;
}
.goods-words{
	width: 168px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	float: right;
	padding-top: 10px;
}
.goods-words strong{
	font-weight: normal;
	font-size: 16px;
	color: #757575;
}
.goods-words p em{
	color: #ff6700;
}
.goods-words p del{
	color: #b0b0b0;
}
/*详情*/
.titles{
	width: 100%;background-color: #fff;margin: 10px 0;
}
.product-list-nav{
	width: 100%;
	margin: 0 auto;
	
}
.product-list-nav>li{
	width:9%;
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.product-list-nav>li.active{
	border-top: #f10582 2px solid;background: #fff;
}
.product-list-nav>li>a{
	color: #757575;
	font-size: 14px;
}
.product-list-nav>li.active a{color: #f10582;}
.product-list-nav>li>a:hover{
	color: #f10582;
}

/*加入购物车*/
.add-cart{
	width: 160px;
	height: 38px;
	background-color: #ff6700;
	color: #fff;
	display: none;
	margin: 11px 0;
	float: right;
}
.add-cart a{
	display: block;
	width: 160px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background-color: #ff6700;
	color: #fff;
}
/*详情*/
.product-down{ 
	width:100%; 
	min-height: 200px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #e7e7e7;
}
/*详情标题*/
.details_title{
	width: 100%;
	height:36px;
	line-height: 36px;
	background: #bb1718 url(../img/det_daohang.png) no-repeat;
	background-size: 100%;
	margin: 25px auto;
}
.details_title>div{
	font-size: 20px;
	font-weight:800;
	color: #FFF;
	padding-left:75px;  
}
.details_title>div img{ 
	width:2%;
	vertical-align:middle;
	margin-bottom:3px;
	display: inline-block;
	margin-right:30px; 
}
/*详情图片*/ 
.details_pic{
	width: 100%;
	padding: 88px 0;
}
.details_pic.guding{
	padding:0;
}
.details_pic img{
	display: block;
	cursor: pointer;
	height: auto;
	width: auto;
	max-width: 950px;
	max-height: 800px;
	margin: 10px auto;
	overflow: hidden; 
	
} 
.details_pic img:hover{
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
.details_pic img.zoomify.zoomed{
	cursor: pointer !important;

}
.details_pic.painter{margin-bottom:30px;} 
.details_pic.painter img{width: 40%;}
/*书画家与作品简介*/
.jianjie{padding: 0 30px;}
.jianjie h3{margin:10px 0 0 0;}
.jianjie p{
	text-indent: 2em;
	margin: 10px 0;
	line-height: 32px;
	font-size: 14px; 
	color: #666;
}
.jianjie .kankan{
	float:right;
	color:#f10582;
	font-size:14px;
	text-decoration:underline;	
	font-weight:normal;
}
</style>
    <link type="text/css" rel="stylesheet" href="__CSS__/style.css"/>
    <div class="container" style="min-height: 400px">
        <div class="row">
            <div class="col-md-12">
                <!---------------------------------------->
				
				<div class="common_block_border">
                    <div class="common_block_title">{$data.title}</div>               
                    <!---------------------------------------->
					<div class="product-content">
			<!--商品详情-->
			<div class="product-middle"> 
				<div class="product-up">
					<div class="product-left"> 
						<!--图片放大（放大镜）-->	
						<div class="magnifier" id="magnifier1">
							<div class="magnifier-container">
								<div class="images-cover"></div>
								<!--当前图片显示容器-->
								<div class="move-view"></div>
								<!--跟随鼠标移动的盒子-->
							</div>
							<div class="magnifier-assembly">
								<!--按钮组-->
								<div class="magnifier-btn">
									<span class="magnifier-btn-left">&lt;</span>
									<span class="magnifier-btn-right">&gt;</span>
								</div>
								<!--缩略图-->
								<div class="magnifier-line">
									<ul class="clearfix animation03">
									  <volist name="data['bigimg']" id="img">
										<li>
											<div class="small-img">
												<img src="{$img}" />
											</div>
										</li>
									  </volist>									
									</ul>
								</div>
								 
							</div>
							<!--经过放大的图片显示容器-->
							<div class="magnifier-view"></div>
						</div>
						
					</div>
					<div class="product-right">
						<!--加入购物车-->
						<div class="buy">
						   <img src="__IMG__/ysp.png">
						   	<div class="purchase">
									<a href="{:U('cart',array('id'=>$data["id"]))}" class="btn btn-primary" onclick="cart('jia',1512)">加入购物车</a>
									<a href="{:U('/Cart/index/index')}" class="btn btn-store like-red">立即购买</a>
							</div>
						</div>
						<div class="buy" style="display:none">
	                       	<h1 class="" id="title">{$data.title}</h1>   
	                       	<div class="">作品编号：OYJQ240H96A04							<a class="guanwang yous" href="/index.php/index/painter?brandid=145" style="display:none"></a>
														</div>
								                       	<div class="author">作&nbsp;&nbsp;者：<a href="/index.php?s=/teacher/index/detail/id/{$data["teacherid"]}.html">{$data["teacher"]}</a>&nbsp;&nbsp;&nbsp;&nbsp;<span style="margin-left:0px;"><bb></bb></span></div>
																<!--规格-->
																<div class="guige">尺幅规格 ：{$data.chicun}({$data.size})   </div>
																<div class="guige">字画性质 ：{$data.zhxz}</div>
																<div class="guige">服务保障 ：实物拍摄，如实描述，永久保真，7日可退换 </div>
																<div class="guige">配送运费 ：在线支付免邮费 </div>
																<div class="guige">支付方式 ：支付宝，微信，银行转账，货到付款 </div>
																<div class="guige">字画状态 ：画芯(未裱) </div>
																<!--div class="">积&nbsp;&nbsp;分 ：<span id="integral">4200</span> </div-->
							
															<div class="huiyuan">会员价：￥<span class="price" id="idprice">{$data.price}&nbsp;&nbsp;</span>画廊价：￥<span class="marketprice"><del>{$data.marketprice}</del></span><span class="hylogin" id="hylogin"></span></div>
																<div class="purchase">
									<a href="{:U('cart',array('id'=>$data["id"]))}" class="btn btn-primary" onclick="cart('jia',1512)">加入购物车</a>
									<a href="{:U('/Cart/index/index')}" class="btn btn-store like-red">立即购买</a>
								</div>
	                        							
							
	                    </div> 
					</div>
					<div class="clear"></div>
				</div>
			</div>	
           	
            <div class="clear" style="margin: 5px 0;clear:both;"></div>			
			<!--商品详情-->
			<div class="titles" id="titles" style="margin: 5px 0;clear:both;display:none">
				<ul class="product-list-nav">
					<li class="active"><a href="#hxsp">画芯实拍</a></li>
					<li><a href="#shjyc">装裱效果</a></li>
					<li><a href="#jbxj">局部细节</a></li>
					<li><a href="#cjxg">场景效果</a></li>
					<li><a href="#shjyzp">书画家与作品</a></li>
					<li><a href="#bzcn">保真承诺</a></li>
					<li><a href="#allys">乐悠悠艺术优势</a></li>
					<div class="clear"></div>
				</ul> 
			</div>
			<div class="product-middle" style="display:none">
				<div class="product-down">
					<img src="http://love88.cn/apps/pc/public/img/details_top.jpg" style="width: 100%;padding-top: 20px;">
					<!--画芯实拍-->
					<div id="hxsp" class="details_title"><div><img src="http://love88.cn/apps/pc/public/img/xiao_logo02.png">画芯实拍</div></div>
					<div class="details_pic big">
						<a id="example1">                                <img src="http://love88.cn/upload/image/20171211/20171211150118_63848.jpg" alt="" /> 
     
     
     
    </a>					
					</div>
					<!--装裱效果-->
					<div id="shjyc" class="details_title"><div><img src="http://love88.cn/apps/pc/public/img/xiao_logo02.png">装裱效果</div></div>
					<div class="details_pic big">
						<a >                                <img src="http://love88.cn/upload/image/20171211/20171211150118_41217.jpg" alt="" /> 
     
     
     
    </a>
					</div>
					<!--局部细节--> 
					<div id="jbxj" class="details_title"><div><img src="/apps/pc/public/img/xiao_logo02.png">局部细节</div></div>
					<div class="details_pic big">
						<a>                                <img src="http://love88.cn/upload/image/20171211/20171211150118_32160.jpg" alt="" /> 
     
     
     
    </a>						
					</div>
					<!--场景效果--> 
					<div id="cjxg" class="details_title"><div><img src="/apps/pc/public/img/xiao_logo02.png">场景效果</div></div>
					<div class="details_pic big">
						<a title="点击查看大图">                                <img src="http://love88.cn/upload/image/20171211/20171211150119_42637.jpg" alt="" /> 
     
     
     
    </a>						
					</div>
					
					<!--书画家与作品--> 
					<div id="shjyzp" class="details_title"><div><img src="/apps/pc/public/img/xiao_logo02.png">书画家与作品</div></div>
					<div class="details_pic big"> 
						                         
     
     
    					
					</div>
					<!--保真承诺-->
					<div id="bzcn" class="details_title guding"><div><img src="/apps/pc/public/img/xiao_logo02.png">保真承诺</div></div>
					<div class="details_pic ding"><img src="/apps/pc/public/img/baozhen1.jpg" style="cursor: inherit;"></div>
					<!--爱啦啦优势-->
					<div id="allys" class="details_title guding"><div><img src="/apps/pc/public/img/xiao_logo02.png">爱啦啦优势</div></div>
					<div class="details_pic ding"><img src="/apps/pc/public/img/youshi1.jpg" style="cursor: inherit;"></div>
					
				</div>
			</div>
		</div>
					<!---------------------------------------->
				</div>
				<!---------------------------------------->
            </div>
  
			
			
			
			
			
			 <div class="col-md-12">
                <!---------------------------------------->
				  <div class="common_block_border blog_position">
                    <div class="common_block_title">详细介绍</div>
					<div style="min-height:300px">
					   {$data["content"]}
					</div>
                  </div>
				<!---------------------------------------->
            </div>	
			
			
			
			
			
        </div>

    </div>
</block>