<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>无标题文档</title>
</head>
<script language="javascript">
function init()
{
  window.location.href="http://www.dailytech.cn/index.php?g=Wap&m=Login&a=index&token=fssjvy1404194522&wecha_id=o5rQ5uGWZ1D0z2kqI3gjy8nag2S4&redirect=http%3A//qiye.dailytech.cn/index.php%3Fs%3D/usercenter/index/information.html";
}
</script>
<body onLoad="init()">
</body>
</html>
