<extend name="./Application/Common/View/base/common.html" />
<!--extend name="Base/common"/-->
<block name="body">
<style type="text/css">
.ullist{margin:0px 0px 0px 0px;padding:0px;list-style-type:none;border-top:1px solid #DFDFDF }
.ullist li{margin:0px;padding:0px 0px 0px 30px;border-bottom:1px solid #DFDFDF;background: #FFFFFF;height:48px;font-size:16px;line-height:48px}
.coursetitle{height:48px;padding-left:20px;font-size:16px;line-height:48px; font-weight:bold}
</style>

    <div id="ui-header">
			<div class="fixed">
				<a class="ui-btn-left_pre" href="javascript:displayitx(0)"></a>
				<a class="ui-title" id="popmenu">企业消息</a>
				<a class="ui-btn-right_home" href="/index.php"></a>
			</div>
	</div>
    <div id="overlay"></div>
    <div class="Listpage">
			<div class="top46"></div>
			<ul class="ullist">
			     <li> <a href="#">习近平：深圳要牢记使命 进一步开动脑筋</a></li>
			     <li> <a href="#">李克强：行政审批不能让群众摸不清门</a></li>
			     <li> <a href="#">专题：巴黎杂志社遭袭致12死 最小嫌犯已投降</a></li>
			     <li> <a href="#">TCL千万美金收购Palm品牌 打进美国市场或是白日梦</a></li>
			     <li> <a href="#">黑卡过亿，手机实名制真是对症的良方吗？</a></li>
			     <li> <a href="#">复旦投毒案终审落槌 林森浩被判死刑</a></li>
			     <li> <a href="#">中国升迁最快央企副处长：与男上级开房410天</a></li>
			     <li> <a href="#">曝李晨送心形石求婚成功 范冰冰决心6月结婚</a></li>
			 </ul>
	</div>

</block>
