<extend name="./Application/Common/View/base/common.html" />
<!--extend name="Base/common"/-->
<block name="body">
<style type="text/css">
.ullist{margin:0px 0px 0px 0px;padding:0px;list-style-type:none;border-top:1px solid #DFDFDF }
.ullist li{margin:0px;padding:0px 0px 0px 30px;border-bottom:1px solid #DFDFDF;background: #FFFFFF;height:48px;font-size:16px;line-height:48px}
.coursetitle{height:48px;padding-left:20px;font-size:16px;line-height:48px; font-weight:bold}
.detailtitle{margin:20px 0px 0px 0px;padding:0px;list-style-type:none;border-bottom:1px solid #DFDFDF; height:50px; line-height:50px; font-size:16px; text-align:center }
.detailcontent{margin:20px 0px 0px 0px;padding:0px;list-style-type:none; }
</style>

    <div id="ui-header">
			<div class="fixed">
				<a class="ui-btn-left_pre" href="javascript:displayitx(0)"></a>
				<a class="ui-title" id="popmenu">企业培训</a>
				<a class="ui-btn-right_home" href="/index.php"></a>
			</div>
	</div>
    <div id="overlay"></div>
    <div class="Listpage">
			<div class="top46"></div>
			<ul class="ullist">
			     <li> <a href="{:U('Train/Index/course')}">我的企业课程</a></li>
			     <li> <a href="{:U('Train/Index/progress')}">我的学习进度</a></li>
			     <li> <a href="{:U('Train/Index/circles')}">我的企业学圈</a></li>
			     <li> <a href="{:U('Train/Index/score')}">我的企业学分</a></li>
			 </ul>
	</div>

</block>
