<extend name="./Application/Common/View/base/common.html" />

<block name="body">
<style>
ul{list-style-type:none;margin:0px 10px;padding:0px}
.rmb-box{
    display:block;
	float: left;
	margin: 0px 0px 10px 0px;
	margin-right:1.332%;
	width:24%;
	position: relative;
	padding: 5px 0;
	transition: left .2s ease,border .5s,z-index .5s;
	padding-bottom: 15px;
	top: 1px;
	background-color: #fff;   
	border: 1px solid #cccccc;
	padding-top: 0;
	min-height: 190px;
}
.rmb-box:nth-child(4n){margin-right: 0;}
.rmb-box:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	z-index: 20;
	top: -1px;
	
}

.rmb-product-detail {
	width: 100%;
	text-align: center;
	height: 150px;
	border-bottom: solid #cccccc 1px;
	background: #fff;
	overflow: hidden;
}
.rmb-product-detail>a{
	width: 100%;
	height: 150px;
	display: grid;
	display: flex; 
	vertical-align: middle;
	text-align: center;
	
}
.rmb-product-detail>a>img{
	max-width: 100%;
	/*max-height: 100%;*/
	vertical-align: middle;
	margin: auto;
}
.rmb-product-detail>a img:hover{ 
  	cursor: pointer;  
    transition: all 0.6s; 
	 -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    -transform:scale(1.1,1.1);
}

.rmb-product-desc{
	margin-top: 1.5px;
	text-align: left;
	padding-left: 10px;
	font-size:14px;
	height: 39px; 
}
.rmb-product-explain{padding:4px 0px;border:0px solid #ff0000;height:26px;overflow:hidden}
.rmb-product-explain a{
	color: #454545;
	font-size: 14px; 
}
.rmb-product-price{;border:0px solid #ff0000;margin:0px;padding:0px}

@media screen and (max-width:600px){
 .rmb-box{
    display:block;
	float: left;
	margin: 0px 0px 10px 0px;
	margin-right:4%;
	width:48%;
	position: relative;
	padding: 5px 0;
	transition: left .2s ease,border .5s,z-index .5s;
	padding-bottom: 15px;
	top: 1px;
	background-color: #fff;   
	border: 1px solid #cccccc;
	padding-top: 0;
	min-height: 175px;
 }
 .rmb-box:nth-child(2n){margin-right: 0;}
 .rmb-box:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	z-index: 20;
	top: -1px;
	
 }

 .rmb-product-detail {
	width: 100%;
	text-align: center;
	height: 100px;
	border-bottom: solid #cccccc 1px;
	background: #fff;
	overflow: hidden;
 }
 .rmb-product-detail>a{
	width: 100%;
	height: 100px;
	display: grid;
	display: flex; 
	vertical-align: middle;
	text-align: center;
	
 }
 .rmb-product-detail>a>img{
	max-width: 100%;
	/*max-height: 100%;*/
	vertical-align: middle;
	margin: auto;
 }
 .rmb-product-detail>a img:hover{ 
  	cursor: pointer;  
    transition: all 0.6s; 
	 -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    -transform:scale(1.1,1.1);
 }

 .rmb-product-desc{
	margin-top: 1.5px;
	text-align: left;
	padding-left: 10px;
	font-size:14px;
	height: 39px; 
 }
 .rmb-product-explain{padding:4px 0px;border:0px solid #ff0000;height:26px;overflow:hidden}
 .rmb-product-explain a{
	color: #454545;
	font-size: 14px; 
 }
 .rmb-product-price{;border:0px solid #ff0000;margin:0px;padding:0px}
}
</style>
    <link type="text/css" rel="stylesheet" href="__CSS__/style.css"/>
    <div class="container" style="min-height: 400px">
        <div class="row">
		    <div class="col-md-12">
                <!---------------------------------------->
				  <div class="common_block_border blog_position">
                    <div class="common_block_title" style="display:none">所有分类</div>
					 <div class="category">
					 <link type="text/css" rel="stylesheet" href="__ROOT__/Public/Common/css/hcategory.css"/>
					 <script type="text/javascript" src="__ROOT__/Public/Common/js/category.js"></script>
	 
					  <div style="display:block">
					  <php>
                       $tree_list = A("Common/Category");
                       $tree_list->ShowNoTitleCategory($tree,"/vod/index/index");
                      </php>
					  </div>
					 </div>
                    
                  </div>
				  
				
            </div>
            <div class="col-md-12">
                <!---------------------------------------->
				
				<div class="common_block_border">
                    <div class="common_block_title">所有内容</div>
					<ul>
					<volist name="contents" id="vo">
					  <li class="rmb-box">
                    
					      <div class="rmb-product-detail">
									<a href="{:U('Detail',array('id'=>$vo["id"]))}" target="_blank">
										<img src="{$vo['image']|get_cover='path'}" data-echo="{$vo['image']|get_cover='path'}">	
									</a>													 
						  </div>  
								<div class="rmb-product-desc">
									<div class="rmb-product-explain"><a href="{:U('Detail',array('id'=>$vo["id"]))}" target="_blank">{$vo.title}</a></div>
									<div class="rmb-product-price">
									    <span>更新时间：{$vo.changetime|date='Y-m-d H:i',###}</span>
									</div>
						       </div>
                          

					   </li> 
					</volist>
					</ul>
                    <div style="clear:both;height:0px"></div>
					<if condition="count($contents) eq 0">
                        <div style="font-size:20px;padding:2em 0;color: #ccc;text-align: center;height:500px">该分类下现在还没有内容哦。O(∩_∩)O~</div>
                    </if>
					<div class="text-right" style="margin-right:20px;">
                       {:getPagination($totalPageCount,$count)}
                    </div>
				</div>
				<!---------------------------------------->
            </div>


			
        </div>

    </div>
</block>