#contents {
	padding: 20px;
}

#contents h3 {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 16px;
}

#contents h3 a {
	color: #333 !important;
}

#contents h3 a:hover {
	color: #666 !important;
}

#contents .author {
	color: #999 !important;
}

#contents img {
	max-width: 100%;
}

.subhead {
	background: #ddd;
	border-bottom: 1px solid #ccc;
}

#main-container {
	margin-top: 0;
}

.content-background-body {
	padding-top: 75px;
	/*background-image: url(../images/03.png) !important;*/
	background: url(../images/03.png)0 -15px no-repeat, url(../images/04.png)0 393px no-repeat, url(../images/05.png)0 1233px no-repeat, url(../images/06.png)0 2153px no-repeat;
	background-repeat: no-repeat;
	background-size: auto;
	/*background-size: 100% 100%;*/
}

.jumbotron {
	padding: 0;
}

.children_blog a {
	margin-right: 10px;
}

.blog_position h3 {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 5px;
}

ul {
	list-style-type: none
}

.prop-attrs .a-values {
	float: left;
	position: relative;
	width: 621px;
	padding-left: 10px;
}

.prop-attrs {
	background: #FFF
}

.attr {
	padding: 4px 0 2px;
	overflow: hidden;
	zoom: 1;
	border-top: 1px dotted #ccc
}

.attr .a-key {
	float: left;
	width: 65px;
	font-weight: bold;
	text-align: right;
	line-height: 25px;
	border: 0px dotted #ccc
}

.attr .a-values .v-option {
	position: absolute;
	right: 10px;
	top: 0px;
	width: 105px;
	height: 20px;
	padding-top: 2px
}

.attr .a-values .o-more {
	float: right;
	position: relative;
	width: 31px;
	height: 20px;
	padding-right: 14px;
	line-height: 20px;
	line-height: 21px\9;
	text-align: right;
	text-decoration: none;
	cursor: pointer;
	color: #005AA0
}

.attr .a-values .o-more:hover {
	border-color: #ccc;
	cursor: pointer
}

.attr .a-values .o-more b {
	position: absolute;
	right: 2px;
	top: 9px;
	border: 5px solid;
	border-color: #247EC1 transparent transparent transparent;
	_border-color: #247EC1 tomato tomato tomato;
	_filter: chroma(color=tomato);
}

.attr .a-values .fold b {
	top: 4px;
	border-color: transparent transparent #247EC1 transparent;
	_border-color: tomato tomato #247EC1 tomato;
}

.attr .a-values .unfold b {
	border-color: #247EC1 transparent transparent transparent;
	_border-color: #247EC1 tomato tomato tomato;
}

#select .mc>div:first-child .attr {
	border-top: none
}

.prop-attrs .v-fold {
	zoom: 1;
	border: 0px solid #ff0000
}

.prop-attrs .v-fold:after {
	content: '\20';
	display: block;
	clear: both
}

.prop-attrs .v-fold .f-list {
	margin: 0px;
	padding: 0px
}

.prop-attrs .v-fold .f-list li {
	float: left;
	padding-right: 16px;
	margin: 0 4px 4px 0;
	/*padding-top:5px*/
	line-height: 25px;
	;
	border: 0px solid #ff0000
}

.prop-attrs .v-fold .f-list a {
	font-size: 12px;
	color: #848484;
	line-height: 21px;
	margin-bottom: 5px;
	border: 0px solid #ccc;
	padding: 1px 10px;
	display: inline-block;
	border-radius: 4px;
	background: #EFEFEF;
}

.prop-attrs .v-fold .f-list a:hover,
.prop-attrs .v-fold .f-list a.selected,
.prop-attrs .v-fold .f-list li.selected {
	background: #03AE87;
	color: #ffffff
}

.prop-attrs .v-fold .f-list li.selected {
	position: relative
}

.prop-attrs .v-fold .f-list li.selected a {
	color: #FFF;
}

.prop-attrs .v-fold .f-list li.selected em {
	background: #E77302 url(../images/delete.png) no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 3px;
	top: 4px;
	cursor: pointer
}

.prop-attrs .v-unfold .f-list {
	height: auto
}

.rank_num {
	display: inline-block;
	background-color: #03AE87;
	color: white;
	width: 20px;
	height: 20px;
	text-align: center;
	float: left;
	margin-right: 10px;
}

.detailtitle {
	font-weight: bold;
}

.detaildatetime {
	font-size: 14px;
	line-height: 40px;
	padding: 0px 20px;
	text-align: left
}

.detailcontent {
	font-size: 14px;
	line-height: 20px;
	padding: 0px 20px;
	min-height: 200px;
	height: auto!important;
	height: 200px;
}

ul {
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px
}

.rmb-box {
	display: block;
	float: left;
	margin: 0px 0px 10px 0px;
	margin-right: 1.332%;
	width: 24%;
	position: relative;
	padding: 5px 0;
	transition: left .2s ease, border .5s, z-index .5s;
	padding-bottom: 50px;
	top: 1px;
	background-color: #ffffff00;
	/*border: 1px solid #cccccc;*/
	padding-top: 0;
	min-height: 190px;
}

.rmb-box:nth-child(4n) {
	margin-right: 0;
}


/*.rmb-box:hover {
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	z-index: 20;
	top: -1px;
}*/

.rmb-product-detail {
	width: 100%;
	text-align: center;
	height: 150px;
	border-bottom: solid #cccccc00 1px;
	background: #fff0;
	overflow: hidden;
}

.rmb-product-detail>a {
	width: 100%;
	height: 150px;
	display: grid;
	display: flex;
	vertical-align: middle;
	text-align: center;
}

.rmb-product-detail>a>img {
	max-width: 100%;
	/*max-height: 100%;*/
	vertical-align: middle;
	margin: auto;
}

.rmb-product-detail-img>a>img {
	max-width: 45%;
	max-height: 65%;
	vertical-align: middle;
	margin: auto;
}

.rmb-product-detail>a img:hover {
	cursor: pointer;
	transition: all 0.6s;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-transform: scale(1.1, 1.1);
}

.rmb-product-desc {
	margin-top: 1.5px;
	text-align: left;
	padding-left: 10px;
	font-size: 14px;
	height: 39px;
}

.rmb-product-explain {
	padding: 5px 0px;
	border: 0px solid #ff0000;
	height: 26px;
	overflow: hidden;
	text-align: center;
	line-height: 26px;
}


/*.rmb-product-explain-font {
	padding: 5px 83px;
	border: 0px solid #ff0000;
	height: 26px;
	overflow: hidden
}*/

.rmb-product-explain a {
	color: #454545;
	font-size: 14px;
}

.rmb-product-price {
	;
	border: 0px solid #ff0000;
	margin: 0px;
	padding: 5px 0px 0px 0px;
	text-align: center;
	line-height: 14px;
}

.newsli {
	padding: 0 0px;
	width: 50%;
	float: left
}

.newslicontent {
	height: 100px;
	overflow: hidden;
}


/*横屏平板*/

@media screen and (max-width:1280px) {
	.content-background-body {
		/*background: #E2E7FD !important;*/
		background: url(../images/7.png)no-repeat !important;
		/*background-size: auto;*/
	}
	.btn-background-teacher {
		background-position: 200px -88px !important;
		background-size: 435px 419px !important;
		width: 24%;
		height: 210px !important;
	}
	.btn-background-teacher:hover {
		background-position: 409px -88px !important;
		background-size: 435px 419px !important;
		width: 24%;
		height: 210px !important;
	}
}

@media screen and (max-width:960px) {
	.content-background-body {
		/*	background: #E2E7FD !important;*/
		background: url(../images/8.png)!important;
		/*background-size: auto;*/
	}
	.btn-background-teacher {
		background-position: 150px -65px !important;
		background-size: 325px 322px !important;
		width: 24%;
		height: 160px!important;
	}
	.btn-background-teacher:hover {
		background-position: 307px -65px !important;
		background-size: 325px 322px !important;
		width: 24%;
		height: 160px!important;
	}
	.rmb-product-detail {
		width: 100%;
		text-align: center;
		height: 100px;
		border-bottom: solid #cccccc00 1px;
		background: #fff0;
		overflow: hidden;
	}
	.rmb-box {
		padding-bottom: 0px !important;
		min-height: 160px !important;
	}
}

@media screen and (max-width:600px) {
	.newsli {
		padding: 0 0px;
		width: 100%;
		float: left
	}
	.content-background-body {
		background: #E2E7FD;
	}
	.btn-background-teacher {
		background-position: 449px -63px !important;
		width: 160px !important;
		height: 167px !important;
	}
	/*.btn-background-teacher:hover {
		background-position: 543px -67px !important;
		width: 160px !important;
		height: 167px !important;
	}*/
	.rmb-box {
		display: block;
		float: left;
		margin: 0px 0px 10px 0px;
		margin-right: 4%;
		width: 48%;
		position: relative;
		padding: 5px 0;
		transition: left .2s ease, border .5s, z-index .5s;
		padding-bottom: 15px;
		top: 1px;
		/*background-color: #fff0;*/
		/*border: 1px solid #cccccc;*/
		padding-top: 0;
		min-height: 163px;
	}
	.rmb-box:nth-child(2n) {
		margin-right: 0;
	}
	/*.rmb-box:hover {
		box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
		z-index: 20;
		top: -1px;
	}*/
	.rmb-product-detail {
		width: 100%;
		text-align: center;
		height: 100px;
		/*border-bottom: solid #cccccc 1px;*/
		/*background: #fff;*/
		overflow: hidden;
	}
	.rmb-product-detail>a {
		width: 100%;
		height: 100px;
		display: grid;
		display: flex;
		vertical-align: middle;
		text-align: center;
	}
	.rmb-product-detail>a>img {
		max-width: 100%;
		/*max-height: 100%;*/
		vertical-align: middle;
		background-color: #fff0;
		margin: auto;
	}
	.rmb-product-detail>a img:hover {
		cursor: pointer;
		transition: all 0.6s;
		-webkit-transform: scale(1.1, 1.1);
		-moz-transform: scale(1.1, 1.1);
		-transform: scale(1.1, 1.1);
	}
	.rmb-product-desc {
		margin-top: 1.5px;
		text-align: left;
		padding-left: 10px;
		font-size: 14px;
		height: 39px;
	}
	.rmb-product-explain {
		padding: 5px 0px;
		border: 0px solid #ff0000;
		height: 26px;
		overflow: hidden
	}
	.rmb-product-explain a {
		color: #454545;
		font-size: 14px;
	}
	.rmb-product-price {
		;
		border: 0px solid #ff0000;
		margin: 0px;
		padding: 5px 0px 0px 0px;
		height: 26px;
		overflow: hidden
	}
}

.btn-background {
	background: url(../images/btn.png);
}

.btn-background-an {
	background-position: -562px -92px;
	width: 173px;
	height: 60px;
}

.btn-background-an:hover {
	background-position: -74px -92px;
	width: 173px;
	height: 60px;
}


/*.btn-background-teacher {
	background-position: 244px -96px;
	background-size: 474px 458px;
}*/


/*.btn-background-teacher {
	background-position: 236px -96px;
	background-size: 184%;
	width: 242px;
	height: 232px;
}*/

.btn-background-teacher:hover {
	background-position: 501px -97px;
	background-size: 510px 458px;
	width: 24%;
	height: 232px;
}

.btn-background-teacher {
	background-position: 255px -97px;
	background-size: 510px 458px;
	width: 24%;
	height: 232px;
}

.btn-background-groud {
	background-position: -77px -1788px;
	width: 240px;
	height: 100px;
	text-align: center;
	line-height: 66px;
	margin: 5px auto
}

.btn-background-input {
	background-position: 318px -1771px;
	background-size: auto;
}