#contents {
	padding: 20px;
}

#contents h3 {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 16px;
}

#contents h3 a {
	color: #333 !important;
}

#contents h3 a:hover {
	color: #666 !important;
}

#contents .author {
	color: #999 !important;
}

#contents img {
	max-width: 100%;
}

.subhead {
	background: #ddd;
	border-bottom: 1px solid #ccc;
}

#main-container {
	margin-top: 0;
}

.jumbotron {
	padding: 0;
}

.children_blog a {
	margin-right: 10px;
}

.blog_position h3 {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.content-background-body {
	height: 0px;
	background-color: #FFFFFF !important;
	background: url(../images/5.png)0 0px no-repeat, url(../images/3.png)0 580px no-repeat, url(../images/3.png)0 1300px no-repeat;
	background-repeat: no-repeat;
	background-size: auto;
}
.content-background-row1{
	background: url(../images/5.png) no-repeat;
	background-size: auto;
}
.content-background-row2{
	background: url(../images/3.png) no-repeat;
	background-size: auto;
}
.content-background-row3{
	background: url(../images/5.png) no-repeat;
	background-size: auto;
}
.content-background-row4{
	background: url(../images/3.png) no-repeat;
	background-size: auto;
}
.banner {
	height: 450px;
	background: url(../images/banner.png);
	background-size: auto;
	border-bottom: 20px solid #f76b07;
}

ul {
	list-style-type: none
}

.prop-attrs .a-values {
	float: left;
	position: relative;
	width: 621px;
	padding-left: 10px;
}

.prop-attrs {
	background: #FFF
}

.attr {
	padding: 4px 0 2px;
	overflow: hidden;
	zoom: 1;
	border-top: 1px dotted #ccc
}

.attr .a-key {
	float: left;
	width: 65px;
	font-weight: bold;
	text-align: right;
	line-height: 25px;
	border: 0px dotted #ccc
}

.attr .a-values .v-option {
	position: absolute;
	right: 10px;
	top: 0px;
	width: 105px;
	height: 20px;
	padding-top: 2px
}

.attr .a-values .o-more {
	float: right;
	position: relative;
	width: 31px;
	height: 20px;
	padding-right: 14px;
	line-height: 20px;
	line-height: 21px\9;
	text-align: right;
	text-decoration: none;
	cursor: pointer;
	color: #005AA0
}

.attr .a-values .o-more:hover {
	border-color: #ccc;
	cursor: pointer
}

.attr .a-values .o-more b {
	position: absolute;
	right: 2px;
	top: 9px;
	border: 5px solid;
	border-color: #247EC1 transparent transparent transparent;
	_border-color: #247EC1 tomato tomato tomato;
	_filter: chroma(color=tomato);
}

.attr .a-values .fold b {
	top: 4px;
	border-color: transparent transparent #247EC1 transparent;
	_border-color: tomato tomato #247EC1 tomato;
}

.attr .a-values .unfold b {
	border-color: #247EC1 transparent transparent transparent;
	_border-color: #247EC1 tomato tomato tomato;
}

#select .mc>div:first-child .attr {
	border-top: none
}

.prop-attrs .v-fold {
	zoom: 1;
	border: 0px solid #ff0000
}

.prop-attrs .v-fold:after {
	content: '\20';
	display: block;
	clear: both
}

.prop-attrs .v-fold .f-list {
	margin: 0px;
	padding: 0px
}

.prop-attrs .v-fold .f-list li {
	float: left;
	padding-right: 16px;
	margin: 0 4px 4px 0;
	/*padding-top:5px*/
	line-height: 25px;
	;
	border: 0px solid #ff0000
}

.prop-attrs .v-fold .f-list a {
	font-size: 12px;
	color: #848484;
	line-height: 21px;
	margin-bottom: 5px;
	border: 0px solid #ccc;
	padding: 1px 10px;
	display: inline-block;
	border-radius: 4px;
	background: #EFEFEF;
}

.prop-attrs .v-fold .f-list a:hover,
.prop-attrs .v-fold .f-list a.selected,
.prop-attrs .v-fold .f-list li.selected {
	background: #03AE87;
	color: #ffffff
}

.prop-attrs .v-fold .f-list li.selected {
	position: relative
}

.prop-attrs .v-fold .f-list li.selected a {
	color: #FFF;
}

.prop-attrs .v-fold .f-list li.selected em {
	background: #E77302 url(../images/delete.png) no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 3px;
	top: 4px;
	cursor: pointer
}

.prop-attrs .v-unfold .f-list {
	height: auto
}

.rank_num {
	display: inline-block;
	background-color: #03AE87;
	color: white;
	width: 20px;
	height: 20px;
	text-align: center;
	float: left;
	margin-right: 10px;
}

.detailtitle {
	font-weight: bold;
}

.detaildatetime {
	font-size: 14px;
	line-height: 40px;
	padding: 0px 20px;
	text-align: left
}

.detailcontent {
	font-size: 14px;
	line-height: 20px;
	padding: 0px 20px;
	min-height: 200px;
	height: auto!important;
	height: 200px;
}

ul {
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px
}

.rmb-box {
	display: block;
	float: left;
	margin: 0px 0px 10px 0px;
	margin-right: 1.332%;
	width: 24%;
	position: relative;
	padding: 5px 0;
	transition: left .2s ease, border .5s, z-index .5s;
	padding-bottom: 15px;
	top: 1px;
	background-color: #FFE6D4;
	/*border: 1px solid #cccccc;*/
	padding-top: 0;
	min-height: 190px;
}

.rmb-box:nth-child(4n) {
	margin-right: 0;
}

.rmb-box:hover {
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	z-index: 20;
	top: -1px;
	background: #FFBD32!important;
}

.rmb-product-detail {
	width: 100%;
	text-align: center;
	height: 150px;
	border-bottom: solid #cccccc 0px;
	background: #FFE6D4;
	overflow: hidden;
}

.rmb-product-detail>a {
	width: 100%;
	height: 150px;
	display: grid;
	display: flex;
	vertical-align: middle;
	text-align: center;
}

.rmb-product-detail>a:hover {
	width: 100%;
	height: 150px;
	display: grid;
	display: flex;
	vertical-align: middle;
	text-align: center;
	background: #FFBD32;
}

.rmb-product-detail>a>img {
	max-width: 100%;
	/*max-height: 100%;*/
	vertical-align: middle;
	margin: auto;
}
.rmb-product-detail-teacher {
	width: 100%;
	text-align: center;
	height: 150px;
	border-bottom: solid #cccccc 0px;
	background: #FFE6D4;
	overflow: hidden;
}
.rmb-product-detail-teacher>a:hover {
	width: 100%;
	height: 150px;
	display: grid;
	display: flex;
	vertical-align: middle;
	text-align: center;
	background: #FFBD32;
}
.rmb-product-detail-teacher>a>img {
	max-width: 100%;
	/*max-height: 100%;*/
	vertical-align: middle;
	margin: auto;
	border-radius: 65px;
}
.rmb-product-detail-teacher>a img:hover {
	cursor: pointer;
	transition: all 0.6s;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-transform: scale(1.1, 1.1);
}
.rmb-product-detail>a img:hover {
	cursor: pointer;
	transition: all 0.6s;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-transform: scale(1.1, 1.1);
}

.rmb-product-desc {
	margin-top: 1.5px;
	text-align: center;
	padding-left: 10px;
	font-size: 14px;
	height: 39px;
}

.rmb-product-explain {
	padding: 5px 0px;
	border: 0px solid #ff0000;
	height: 26px;
	overflow: hidden
}

.rmb-product-explain a {
	color: #454545;
	font-size: 14px;
}

.rmb-product-price {
	;
	border: 0px solid #ff0000;
	margin: 0px;
	padding: 5px 0px 0px 0px
}

.newsli {
	padding: 0 0px;
	width: 50%;
	float: left
}

.newslicontent {
	height: 100px;
	overflow: hidden;
}

@media screen and (max-width:600px) {
	.content-background-body {
		background-color:#FFB51A !important ;
	}
	.banner {
		height: 40px;
		background: url(../images/banner.png);
		background-size: auto;
		border-bottom: 20px solid #f76b07;
	}
	.newsli {
		padding: 0 0px;
		width: 100%;
		float: left
	}
	.rmb-box {
		display: block;
		float: left;
		margin: 0px 0px 10px 0px;
		margin-right: 4%;
		width: 48%;
		position: relative;
		padding: 5px 0;
		transition: left .2s ease, border .5s, z-index .5s;
		padding-bottom: 15px;
		top: 1px;
		/*background-color: #fff;*/
		/*border: 1px solid #cccccc;*/
		padding-top: 0;
		min-height: 163px;
	}
	.rmb-box:nth-child(2n) {
		margin-right: 0;
	}
	.rmb-box:hover {
		box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
		z-index: 20;
		top: -1px;
		background: #FFBD32;
	}
	.rmb-product-detail {
		width: 100%;
		text-align: center;
		height: 100px;
		/*border-bottom: solid #cccccc 1px;
		background: #fff;*/
		overflow: hidden;
	}
	.rmb-product-detail>a {
		width: 100%;
		height: 100px;
		display: grid;
		display: flex;
		vertical-align: middle;
		text-align: center;
	}
	.rmb-product-detail>a>img {
		max-width: 100%;
		/*max-height: 100%;*/
		vertical-align: middle;
		margin: auto;
	}
	.rmb-product-detail>a img:hover {
		cursor: pointer;
		transition: all 0.6s;
		-webkit-transform: scale(1.1, 1.1);
		-moz-transform: scale(1.1, 1.1);
		-transform: scale(1.1, 1.1);
		background: #FFBD32;
	}
	.rmb-product-desc {
		margin-top: 1.5px;
		text-align: center;
		padding-left: 10px;
		font-size: 14px;
		height: 39px;
	}
	.rmb-product-explain {
		padding: 5px 0px;
		border: 0px solid #ff0000;
		height: 26px;
		overflow: hidden
	}
	.rmb-product-explain a {
		color: #454545;
		font-size: 14px;
	}
	.rmb-product-price {
		border: 0px solid #ff0000;
		margin: 0px;
		padding: 5px 0px 0px 0px;
		height: 26px;
		overflow: hidden
	}
}

.btn-background {
	background: url(../images/btn.png);
}

.btn-background-groud {
	background-position: -77px -1788px;
	width: 240px;
	height: 100px;
	text-align: center;
	line-height: 66px;
	margin: 5px auto
}